@font-face {
    font-family:'meedori' ;
    src: url("/fonts/meedori-sans-bold.ttf") format(truetype) ; 
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* inicio do header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}
h1{
    font-family: 'meedori' ;   
}

header h1 a{
    margin-right: 20px;
    color: white;
    font-family: 'meedori' ;
}

nav a{
    margin-right: 40px;
    color: white;
    font-family: 'meedori' ;
}

nav a:hover{
    color: red;
}

/* Fim do header */
/* inicio do main */
main{
    /* background-color: #2a2b38; */
    background-color: white;
}

figure{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: auto;
}

.noticias{
    color: white;
    padding: 10px 20px;
    margin: 0;
    background-color: black;
    font-family: 'meedori' ;
} 

/* Inicio do CSS da pagina da MARVEL */

.all-personagem{
    padding: 20px 15px;
    font-family: 'meedori';
}

/*Essa parte edita  todas as cartas*/
.container-card{
    display: flex;
}
/*card*/
.card{
    width: 600px;
    height: 460px;
    margin: 30px 35px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(226, 2, 2, 0.358);
    background-color: rgb(24, 24, 24);
  
}
/*Quando passar em cima da carta*/
.card:hover {
    border: 1px solid rgb(210, 126, 126);
    transform: scale(1.05);
  }
  /*animação da carta*/
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
/*card header*/
.card header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    
}
/*card img*/
.card img{
    min-width: 100%;
    width: auto;
    height: 100%; 
}
/*Texto da carta*/
a.nomehp-aranha{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;  
}


/* Fim do CSS da pagina da MARVEL */


/* INICIO FOOTER */
footer{
    font-family: 'meedori';
}

nav a{
    text-decoration: none; /**/
    color: white;
    
}

nav a:hover{
    color: red;
}

.titleFooter a{ 
  text-decoration: none;
  color: rgb(253, 0, 0);
}

.footer-arrow {
    
  float: left;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.footer-arrow svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  background-color: #000000;
}
.footer-arrow .shape-fill {
  fill: #f4f4f4;;
}
.main_footer          { background-color:#000000; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 

    width:100%; 
    height:auto; 
    float:left; 
    margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#ff0000; }
.colfooter .titleFooter   { 
    font-family: 'Lato', sans-serif; 
    font-size:1.3em; 
    color:#ffffff; 
    padding-bottom: 0.5em; 
    margin-bottom:0.5em; 
    border-bottom: 1px #ff0000 solid;
}
.colfooter p  { 
    font-family: 'Lato', sans-serif; 
    color:#ffffff; 
    font-size:1em; 
    height:25px; 
}
.colfooter .redesocial { 
  
  color: #ffffff;
  float: left;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition:0.2s;
}
.colfooter .redesocial:hover { 
  color: #ffffff;
  text-decoration: none;
  color: #ff0000;
  transition:0.2s;
}
.main_footer_copy   { background-color:#000000; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#ff0000 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#ff0000; }
/*Responsivo*/

/*768PX BREAKPOINT*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
.footer-arrow svg { height:50px; }
}
/*960PX BREAKPOINT*/
@media (min-width:60em){
.footer-arrow svg { height:70px; }
}
/*1280PX BREAKPOINT*/
@media (min-width:80em){
.footer-arrow svg { height:90px; }
}

/* Fim do footer */

